@model IEnumerable<ShipperManager.Models.DonHang>

@{
    ViewBag.Title = "Quán Lý Đơn Hàng";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Người Tạo
        </th>
        <th>
            Khách hàng
        </th>
        <th>
            Ngày Tạo
        </th>
        <th>
            Trạng Thái Giao
        </th>
        <th>
            Phương Thức Thanh Toán
        </th>
        <th>
            Khoảng Cách
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NhanVien.Ten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KhachHang.Ten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayTao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrangThaiGiao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhuongThucThanhToan.Ten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KhoanCach)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Chi Tiết", "Details", new { id = item.Id }) |
            @Html.ActionLink("Xóa", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
