@model IEnumerable<ShipperManager.Models.ChiTietDonHang>

<table class="table">
    <tr>
        <th>
            Tên
        </th>
        <th>
            Giá
        </th>
        <th>
            Số Lượng
        </th>
        <th>
            Ảnh
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SanPham.Ten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SanPham.Gia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                <img id="image" src="@item.SanPham.ImagePath" height="100" width="100" asp-append-version="true" />
            </td>
            <td>
                @Html.ActionLink("Tăng", "ShowOrderDetail", new { id = item.SanPham.Id, action = 0 }, new { @class = "btn btn-info btn-sm custom-btn" }) <br />
                @Html.ActionLink("Giảm", "Edit", new { id = item.SanPham.Id, action = 1 }, new { @class = "btn btn-info btn-sm custom-btn" }) <br />
                @Html.ActionLink("Xóa", "Delete", new { id = item.SanPham.Id, action = 3 }, new { @class = "btn btn-info btn-sm custom-btn" }) <br />
            </td>
        </tr>
    }
</table>
